{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Capstone Project{% endblock %}</title>
    {% if request.user.is_authenticated and request.user.profile.preferred_theme %}
      <link rel="stylesheet" href="{% static 'css/'|add:request.user.profile.preferred_theme|add:'.css' %}">
    {% else %}
      <link rel="stylesheet" href="{% static 'css/minimal.css' %}">
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
    {% block extra_css %}{% endblock %}

</head>
<body>
    <header style="position: sticky; top: 0; background-color: #fff; max-width: 900px; margin: 0 auto; height: 80px; align-content: center; text-align: center;">
        <nav>
        <h1 style="color: black"><a href="{% url 'home' %}">LogMyFit</a></h1>
            </nav>
    </header>

    <main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    </main>

    <footer>
        <p>&copy; 2025 <a href="{% url 'home' %}">LogMyFit</a>. All rights reserved.</p>
    </footer>
</body>
</html>