<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health & Wellness Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
    <h1>Welcome to LogMyFit!</h1>
    <p>Track your health and wellness goals!</p>

<a href="{% url 'add_user' %}">
    <button>Create New User</button>
</a>

<a href="{% url 'user_list' %}">
    <button>User List</button>
</a>

</body>
</html>