{% extends "base.html" %}
{% block title %}Leaderboards{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">

{% endblock %}

{% block content %}
    <h1 class="leaderboard-header">Daily Leaderboards</h1>
    <a href="{% url 'clear_leaderboard_cache' %}" class="btn btn-danger">
      Clear Leaderboard Cache Manually
  </a>
    <p></p>
    <div class="leaderboard-container::before">
    <div class="leaderboard-container::after">
<div class="leaderboard-container">
    {% for metric, ranking_list in leaderboards.items %}
    <div class="leaderboard">
        <h2>{{ metric }}</h2>
        <table>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Value</th>
            </tr>
            {% for entry in ranking_list %}
            <tr>
                <td class="{% if entry.rank == 1 %}gold{% elif entry.rank == 2 %}silver{% elif entry.rank == 3 %}bronze{% endif %}">
                    {{ entry.rank }}
                </td>
                <td><a href="{% url 'profile' username=entry.username %}">{{ entry.username }}</a></td>
                <td>{{ entry.value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
    </div>
    </div>

    <script src="{% static 'js/leaderboard.js' %}"></script>
{% endblock %}